---
http_interactions:
- request:
    method: get
    uri: http://yts.re/api/requests?limit=2&page=confirmed
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"MovieCount":"143","RequestList":[{"RequestID":"1258","MovieTitle":"American
        Wedding (2003)","MovieTitleClean":"American Wedding","MovieYear":"2003","ImdbCode":"tt0328828","ImdbLink":"http:\/\/www.imdb.com\/title\/tt0328828\/","CoverImage":"http:\/\/static.yts.re\/attachments\/_posters\/0328828.jpg","ShortDescription":"It&#x27;s
        the wedding of Jim and Michelle and the gathering of their families and friends,
        including Jim&#x27;s old friends from high school and Michelle&#x27;s little
        sister.","Genre":"Comedy","MovieRating":"6.1","DateAdded":"2012-06-25 03:42:28","DateAddedEpoch":1340552548,"Votes":13801,"UserID":"10117","Username":"shubham.1992"},{"RequestID":"669","MovieTitle":"North
        by Northwest (1959)","MovieTitleClean":"North by Northwest","MovieYear":"1959","ImdbCode":"tt0053125","ImdbLink":"http:\/\/www.imdb.com\/title\/tt0053125\/","CoverImage":"http:\/\/static.yts.re\/attachments\/_posters\/0053125.jpg","ShortDescription":"A
        hapless New York advertising executive is mistaken for a government agent
        by a group of foreign spies, and is pursued across the country while he looks
        for a way to survive.","Genre":"Adventure","MovieRating":"8.6","DateAdded":"2012-06-24
        04:08:44","DateAddedEpoch":1340467724,"Votes":2949,"UserID":"48729","Username":"Saeed
        Ghodsi"}]}'
  recorded_at: Sun, 19 Oct 2014 23:47:35 GMT
recorded_with: VCR 2.9.3
