---
http_interactions:
- request:
    method: get
    uri: http://yts.ag/api/v2/movie_parental_guides?movie_id=353
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - DE
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"parental_guide_count":4,"parental_guides":[{"type":"Nudity","parental_guide_text":"SEX\/NUDITY
        7\/10\n\nA man and a woman have sex: the woman is on top of the man thrusting
        (we see her bare back) and the man moans.\n\nA man and a woman have sex: the
        man thrusts on top of the woman and we only see their bare backs.\n\nA man
        and a woman have sex in a shower: we see rhythmic movement (no nudity).\n\nA
        woman climbs onto a man\u0027s lap and kisses him, we see a theater filled
        with couples kissing, a man and a woman kiss romantically[...]
