---
http_interactions:
- request:
    method: get
    uri: http://yts.to/api/v2/user_details?user_id=16&with_recently_downloaded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - CA
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"id":16,"username":"YIFY","group":"administrator","url":"http:\/\/yts.to\/user\/yify","about_text":"Hey,
        I am YIFY.\r\n\r\nBeen involved in the torrenting community for about 3 years
        now.\r\n\r\nAll credit has to go to our team here, and the rest of our users,
        making this community what it is today.\r\n\r\nfor more information about
        us, please check out this about page:\r\n\r\nhttp:\/\/yify-torrents.com\/about","small_avatar_image":"http:\/\/s.ynet.io\/assets\/images\/users\/thumb\/161440070403.png","medium_avatar_image":"http:\/\/s.ynet.io\/assets\/images\/users\/161440070403.png","date_joined":"2011-06-24
        00:22:25","date_joined_unix":1308831745,"recently_downloaded":[{"id":4075,"url":"http:\/\/yts.to\/movie\/ex-machina-2015","imdb_code":"tt0470752","title":"Ex
        Machina","title_long":"Ex Machina (2015)","slug":"ex-machina-2015","year":2015,"rating":7.7,"runtime":108,"genres":["Drama","Mystery"],"small_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/ex_machina_2015\/small-cover.jpg","medium_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/ex_machina_2015\/medium-cover.jpg"},{"id":4094,"url":"http:\/\/yts.to\/movie\/kingsman-the-secret-service-2014","imdb_code":"tt2802144","title":"Kingsman:
        The Secret Service","title_long":"Kingsman: The Secret Service (2014)","slug":"kingsman-the-secret-service-2014","year":2014,"rating":7.8,"runtime":129,"genres":["Action","Adventure"],"small_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/kingsman_the_secret_service_2014\/small-cov[...]
