---
http_interactions:
- request:
    method: post
    uri: http://yts.ag/api/v2/user_get_key
    body:
      encoding: UTF-8
      string: application_key=<APPLICATION_KEY>&username=<USERNAME>&password=<PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - LU
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"User successfully logged in","data":{"user_id":"<UDER_ID>","username":"<USERNAME>","email":"<EMAIL>","user_key":"<USER_KEY>"},"@meta":{"server_time":1442721939,"server_timezone":"Pacific\/Auckland","api_version":2,"execution_time":"23.38
        ms"}}'
  recorded_at: Sun, 20 Sep 2015 04:05:39 GMT
recorded_with: VCR 2.9.3
