---
http_interactions:
- request:
    method: post
    uri: http://yts.ag/api/v2/add_movie_bookmark
    body:
      encoding: UTF-8
      string: application_key=<APPLICATION_KEY>&user_key=<USER_KEY>&movie_id=353
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - DE
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Movie has been successfully bookmarked","data":{"user_id":<USER_ID>"movie_id":353},"@meta":{"server_time":1442783539,"server_timezone":"Pacific\/Auckland","api_version":2,"execution_time":"9.55
        ms"}}'
  recorded_at: Sun, 20 Sep 2015 21:12:19 GMT
recorded_with: VCR 2.9.3
