---
http_interactions:
- request:
    method: get
    uri: http://yts.to/api/comments?movieid=353
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"CommentID":"399","CommentText":"thanxxxxxxx","DateAdded":"2011-08-31
        03:02:46","DateAddedEpoch":1314716566,"UserID":"223","ParentCommentID":null,"UserName":"2
        hot 4 u","UserAvatar":"http:\/\/static.yts.to\/avatar\/default_avatar.jpg","UserGroup":"Users"},{"CommentID":"841","CommentText":"tnx
        a lot classic...","DateAdded":"2011-09-16 18:25:18","DateAddedEpoch":1316154318,"UserID":"1339","ParentCommentID":null,"UserName":"bokbak","UserAvatar":"http:\/\/static.yts.to\/avatar\/default_avatar.jpg","UserGroup":"Users"},{"CommentID":"1584","CommentText":"Thank
        you very much","DateAdded":"2011-10-07 03:10:40","DateAddedEpoch":1317910240,"UserID":"2893","ParentCommentID":null,"UserName":"bogartrules","UserAvatar":"http:\/\/static[...]
