---
http_interactions:
- request:
    method: get
    uri: http://yts.to/api/v2/movie_details?movie_id=353&with_cast=true&with_images=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - CA
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"id":353,"url":"http:\/\/yts.to\/movie\/confessions-of-a-dangerous-mind-2002","imdb_code":"tt0270288","title":"Confessions
        of a Dangerous Mind","title_long":"Confessions of a Dangerous Mind (2002)","slug":"confessions-of-a-dangerous-mind-2002","year":2002,"rating":7.1,"runtime":113,"genres":["Biography","Comedy"],"language":"English","mpa_rating":"R","download_count":64416,"like_count":105,"rt_critics_score":79,"rt_critics_rating":"Certified
        Fresh","rt_audience_score":75,"rt_audience_rating":"Upright","description_intro":"An
        adaptation of the cult memoir of game show impresario Chuck Barris, in which
        he purports to have been a CIA hitman.","description_full":"Television made
        him famous, but his biggest hits happened off screen. \u0022Confessions of
        a Dangerous Mind\u0022 is the story of a legendary showman\u0027s double life
        - television producer by day, CIA assassin by night. At the height of his
        TV career, Chuck Barris was recruited by the CIA and trained to become a covert
        operative. Or so Barris said.","yt_trailer_code":"tlZsSLe35z4","date_uploaded":"2011-11-02
        11:56:20","date_uploaded_unix":1320188180,"images":{"background_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/Confessions_of_a_Dangerous_Mind_2002\/background.jpg","small_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/Confessions_of_a_Dangerous_Mind_2002\/small-cover.jpg","medium_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/Confessions_of_a_Dangerous_Mind_2002\/medium-cover.jpg","large_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/Confessions_of_a_Dangerous_Mind_2002\/large-cover.jpg","medium_screenshot_image1":"http:\/\/s.ynet.io\/assets\/images\/movies\/Confessions_of_a_Dangerous_Mind_2002\/medium-screenshot1.jpg","medium_screenshot_image2":"http:\/\/s.ynet.io\/assets\/images\/movies\/Confessions_of_a_Dangerous_Mind_2002\/medium-screenshot2.jpg","medium_screenshot_image3":"http:\/\/s.ynet.io\/assets\/images\/movies\/Confessions_of_a_Dangerous_Mind_2002\/medium-screenshot3.jpg","large_screenshot_image1":"http:\/\/s.ynet.io\/assets\/images\/movies\/Confessions_of_a_Dangerous_Mind_2002\/large-screenshot1.jpg","large_screenshot_image2":"http:\/\/s.ynet.io\/assets\/images\/movies\/Confessions_of_a_Dangerous_Mind_2002\/large-screenshot2.jpg","large_screenshot_image3":"http:\/\/s.ynet.io\/assets\/images\/movies\/Confessions_of_a_Dangerous_Mind_2002\/large-screenshot3.jpg"},"torrents":[{"url":"http:\/\/yts.to\/torrent\/download\/32995A7FE823D6668BFC37A5853BF7EB798E0974.torrent","hash":"32995A7FE823D6668BFC37A5853BF7EB798E0974","quality":"720p","resolution":"1280*536","framerate":23.976,"seeds":44,"peers":8,"size":"701.42
        MB","size_bytes":735492178,"download_count":50856,"date_uploaded":"2011-11-02
        11:56:20","date_uploaded_unix":1320188180},{"url":"http:\/\/yts.to\/torrent\/download\/5F803C0D541CBAA57CDFAA330CC28B5377A6D946.torrent","hash":"5F803C0D541CBAA57CDFAA330CC28B5377A6D946","quality":"1080p","resolution":"1916*800","framerate":23.976,"seeds":60,"peers":13,"size":"1.65
        GB","size_bytes":1767811234,"download_count":42901,"date_uploaded":"2015-01-02
        19:34:48","date_uploaded_unix":1420180488}],"directors":[{"name":"George Clooney","small_image":"http:\/\/s.ynet.io\/assets\/images\/directors\/thumb\/nm0000123.jpg","medium_image":"http:\/\/s.ynet.io\/assets\/images\/directors\/nm0000123.jpg","imdb_code":"nm0000123"}],"actors":[{"name":"Sam
        Rockwell","character_name":"Chuck Barris","small_image":"http:\/\/s.ynet.io\/assets\/images\/actors\/thumb\/nm0005377.jpg","medium_image":"http:\/\/s.ynet.io\/assets\/images\/actors\/nm0005377.jpg","imdb_code":"nm0005377"},{"name":"Drew
        Barrymore","character_name":"Penny","small_image":"http:\/\/s.ynet.io\/assets\/images\/actors\/thumb\/nm0000106.jpg","medium_image":"http:\/\/s.ynet.io\/assets\/images\/actors\/nm0000106.jpg","imdb_code":"nm0000106"},{"name":"George
        Clooney","character_name":"Jim Byrd","small_image":"http:\/\/s.ynet.io\/assets\/images\/actors\/thumb\/nm0000123.jpg","medium_image":"http:\/\/s.ynet.io\/assets\/images\/actors\/nm0000123.jpg","imdb_code":"nm0000123"},{"name":"Julia
        Roberts","character_name":"Patricia Watson","small_image":"http:\/\/s.ynet.io\/assets\/images\/actors\/thumb\/nm0000210.jpg","medium_image":"http:\/\/s.ynet.io\/assets\/images\/actors\/nm0000210.jpg","imdb_code":"nm0000210"}]},"@meta":{"server_time":1442271611,"server_timezone":"Pacific\/Auckland","api_version":2,"execution_time":"9.51
        ms"}}'
  recorded_at: Mon, 14 Sep 2015 23:00:12 GMT
recorded_with: VCR 2.9.3
