---
http_interactions:
- request:
    method: get
    uri: http://yts.to/api/v2/movie_reviews?movie_id=353
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - DE
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"review_count":5,"reviews":[{"username":"Roland
        E. Zwick (magneteach@aol.com)","user_rating":5,"user_location":"United States","review_summary":"Fact
        Stranger Than Fiction","review_text":"\nWe all remember Chuck Barris as the
        creator of some of television\u0027s most successful - albeit notoriously
        mind-numbing - game shows: `The Dating Game,\u0027 `The Newlywed Game,\u0027
        and `The Gong Show.\u0027  But did you know that he was also a hit man for
        the CIA?  Well, that\u0027s what he claims, straight from his own `unauthorized
        autobiography\u0027 entitled `Confessions of a Dangerous Mind,\u0027 which
        has now been made into a movie b[...]
