---
http_interactions:
- request:
    method: post
    uri: http://yts.to/api/login
    body:
      encoding: UTF-8
      string: username=<USERNAME>&password=<PASSWORD>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"userID":"<USERID>","username":"<USERNAME>","userRole":"Users","hash":"<HASH>"}'
  recorded_at: Sun, 19 Oct 2014 22:57:38 GMT
recorded_with: VCR 2.9.3
