---
http_interactions:
- request:
    method: get
    uri: http://yts.to/api/v2/list_movies?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - LU
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"movie_count":4432,"limit":1,"page_number":1,"movies":[{"id":4464,"url":"http:\/\/yts.to\/movie\/at-close-range-1986","imdb_code":"tt0090670","title":"At
        Close Range","title_long":"At Close Range (1986)","slug":"at-close-range-1986","year":1986,"rating":7,"runtime":111,"genres":["Crime","Drama"],"language":"English","mpa_rating":"R","background_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/at_close_range_1986\/background.jpg","small_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/at_close_range_1986\/small-cover.jpg","medium_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/at_close_range_1986\/medium-cover.jpg","state":"ok","torrents":[{"url":"http:\/\/yts.to\/torrent\/download\/4955C5BF6735055873A2F67269E136A3003C4288.torrent","hash":"4955C5BF6735055873A2F67269E136A3003C4288","quality":"720p","seeds":372,"peers":543,"size":"817.84
        MB","size_bytes":857562972,"date_uploaded":"2015-09-15 01:08:56","date_uploaded_unix":1442236136},{"url":"http:\/\/yts.to\/torrent\/download\/F233F919F1EC6CABD44A99E0ED69F8CC7C63A8B8.torrent","hash":"F233F919F1EC6CABD44A99E0ED69F8CC7C63A8B8","quality":"1080p","seeds":0,"peers":0,"size":"1.85
        GB","size_bytes":1983613945,"date_uploaded":"2015-09-15 05:56:52","date_uploaded_unix":1442253412}],"date_uploaded":"2015-09-15
        01:08:53","date_uploaded_unix":1442236133}]},"@meta":{"server_time":1442260886,"server_timezone":"Pacific\/Auckland","api_version":2,"execution_time":"1002.79
        ms"}}'
  recorded_at: Mon, 14 Sep 2015 20:01:27 GMT
recorded_with: VCR 2.9.3
