---
http_interactions:
- request:
    method: get
    uri: https://yts.ag/api/v2/movie_suggestions.json?movie_id=353
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"movie_count":4,"movies":[{"id":4119,"url":"https:\/\/yts.ag\/movie\/what-maisie-knew-2012","imdb_code":"tt1932767","title":"What
        Maisie Knew","title_english":"What Maisie Knew","title_long":"What Maisie
        Knew (2012)","slug":"what-maisie-knew-2012","year":2012,"rating":7.5,"runtime":93,"genres":["Action","Drama"],"summary":"What
        Maisie Knew is a contemporary New York City revisioning of the Henry James
        novel by the same name. It revolves around unwitting 7-year-old Maisie, caught
        in the middle of a custody battle between her mother Susanna, an aging rock
        star, and her father, Beale, a major art dealer.","description_full":"What
        Maisie Knew is a contemporary New York City revisioning of the Henry James
        novel by the same name. It revolves around unwitting 7-year-old Maisie, caught
        in the middle of a custody battle between her mother Susanna, an aging rock
        star, and her father, Beale, a major art dealer.","synopsis":"What Maisie
        Knew is a contemporary New York City revisioning of the Henry James novel
        by the same name. It revolves around unwitting 7-year-old Maisie, caught in
        the middle of a custody battle between her mother Susanna, an aging rock star,
        and her father, Beale, a major art dealer.","yt_trailer_code":"GHHt5eYl95c","language":"English","mpa_rating":"R","background_image":"https:\/\/yts.ag\/assets\/images\/movies\/What_Maisie_Knew_2012\/background.jpg","background_image_original":"https:\/\/yts.ag\/assets\/images\/movies\/What_Maisie_Knew_2012\/background.jpg","small_cover_image":"https:\/\/yts.ag\/assets\/images\/movies\/What_Maisie_Knew_2012\/small-cover.jpg","medium_cover_image":"https:\/\/yts.ag\/assets\/images\/movies\/What_Maisie_Knew_2012\/medium-cover.jpg","state":"ok","torrents":[{"url":"https:\/\/yts.ag\/torrent\/download\/D8A17E71C6087763269A3AB2A2981D1DADADDFD8.torrent","hash":"D8A17E71C6087763269A3AB2A2981D1DADADDFD8","quality":"720p","seeds":15,"peers":1,"size":"759.34
        MB","size_bytes":796225700,"date_uploaded":"2015-11-01 04:05:32","date_uploaded_unix":1446368732},{"url":"https:\/\/yts.ag\/torrent\/download\/DE957191A0F8DEBA3A1EB24DBA2DB09D8695117B.torrent","hash":"DE957191A0F8DEBA3A1EB24DBA2DB09D8695117B","quality":"1080p","seeds":5,"peers":2,"size":"1.45
        GB","size_bytes":1556925645,"date_uploaded":"2015-11-01 04:05:34","date_uploaded_unix":1446368734}],"date_uploaded":"2015-11-01
        04:05:32","date_uploaded_unix":1446368732},{"id":4975,"url":"https:\/\/yts.ag\/movie\/congo-the-grand-inga-project-2013","imdb_code":"tt2509902","ti[...]
