---
http_interactions:
- request:
    method: get
    uri: https://yts.ag/api/v2/list_movies.json?limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"movie_count":5546,"limit":3,"page_number":1,"movies":[{"id":5889,"url":"https:\/\/yts.ag\/movie\/deadfall-trail-2009","imdb_code":"tt1285217","title":"Deadfall
        Trail","title_english":"Deadfall Trail","title_long":"Deadfall Trail (2009)","slug":"deadfall-trail-2009","year":2009,"rating":4.1,"runtime":98,"genres":["Horror","Thriller"],"summary":"The
        tough, no-nonsense Julian and his more laid-back friend John are a couple
        of veteran campers who decide to embark on a no-frills expedition into the
        deep Arizona wilderness. Obnoxious troublemaker and blundering tenderfoot
        Paul tags along. However, things go horribly awry after John gets seriously
        wounded and the subsequent pressure causes Julian to degenerate into a ferocious
        primal state.","description_full":"The tough, no-nonsense Julian and his more
        laid-back friend John are a couple of veteran campers who decide to embark
        on a no-frills expedition into the deep Arizona wilderness. Obnoxious troublemaker
        and blundering tenderfoot Paul tags along. However, things go horribly awry
        after John gets seriously wounded and the subsequent pressure causes Julian
        to degenerate into a ferocious primal state.","synopsis":"The tough, no-nonsense
        Julian and his more laid-back friend John are a couple of veteran campers
        who decide to embark on a no-frills expedition into the deep Arizona wilderness.
        Obnoxious troublemaker and blundering tenderfoot Paul tags along. However,
        things go horribly awry after John gets seriously wounded and the subsequent
        pressure causes Julian to degenerate into a ferocious primal state.","yt_trailer_code":"UmkuYy5tbFM","language":"English","mpa_rating":"NR","background_image":"https:\/\/yts.ag\/assets\/images\/movies\/deadfall_trail_2009\/background.jpg","background_image_original":"https:\/\/yts.ag\/assets\/images\/movies\/deadfall_trail_2009\/background.jpg","small_cover_image":"https:\/\/yts.ag\/assets\/images\/movies\/deadfall_trail_2009\/small-cover.jpg","medium_cover_image":"https:\/\/yts.ag\/assets\/images\/movies\/deadfall_trail_2009\/medium-cover.jpg","large_cover_image":"https:\/\/yts.ag\/assets\/images\/movies\/deadfall_trail_2009\/large-cover.jpg","state":"ok","torrents":[{"url":"https:\/\/yts.ag\/torrent\/download\/721ADA5CE229D843D31374E2C65FFBE79D1A7D18.torrent","hash":"721ADA5CE229D843D31374E2C65FFBE79D1A7D18","quality":"720p","seeds":84,"peers":111,"size":"738.24
        MB","size_bytes":774100746,"date_uploaded":"2016-07-18 13:24:35","date_uploaded_unix":1468862675},{"url":"https:\/\/yts.ag\/torrent\/download\/42F34C1ACCEB4555B14C69AC128609FCD2E9CFE6.torrent","hash":"42F34C1ACCEB4555B14C69AC128609FCD2E9CFE6","quality":"1080p","seeds":0,"peers":0,"size":"1.5
        GB","size_bytes":1610612736,"date_uploaded":"2016-07-18 16:15:33","date_uploaded_unix":1468872933}],"date_uploaded":"2016-07-18
        13:24:35","date_uploaded_unix":1468862675},{"id":5888,"url":"https:\/\/yts.ag\/movie\/aliens-of-the-deep-2005","imdb_code":"tt0417415","title":"Alien[...]
