---
http_interactions:
- request:
    method: get
    uri: http://yts.re/api/upcoming
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"MovieTitle":"Persecuted (2014)","MovieCover":"http:\/\/static.yts.re\/attachments\/_upcoming\/Persecuted_2014_720p.png","ImdbCode":"tt1761005","ImdbLink":"http:\/\/www.imdb.com\/title\/tt1761005\/","Uploader":"OTTO","UploaderUID":"310615","DateAdded":"2014-10-16
        12:49:20","DateAddedEpoch":1413416960},{"MovieTitle":"Whitey United States
        of America v. James J. Bulger (2014)","MovieCover":"http:\/\/static.yts.re\/attachments\/_upcoming\/Whitey_United_States_of_America_v_James_J_Bulger_2014_720p.png","ImdbCode":"tt3326366","ImdbLink":"http:\/\/www.imdb.com\/title\/tt3326366\/","Uploader":"OTTO","UploaderUID":"310615","DateAdded":"2014-10-16
        11:19:42","DateAddedEpoch":1413411582},{"MovieTitle":"Beneath (2013)","MovieCover":"http:\/\/static.yts.re\/attachments\/_upcomin[...]
