---
http_interactions:
- request:
    method: get
    uri: https://yts.ag/api/v2/movie_details.json?movie_id=353&with_cast=true&with_images=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"movie":{"id":353,"url":"https:\/\/yts.ag\/movie\/back-to-the-future-1985","imdb_code":"tt0088763","title":"Back
        to the Future","title_english":"Back to the Future","title_long":"Back to
        the Future (1985)","slug":"back-to-the-future-1985","year":1985,"rating":8.5,"runtime":116,"genres":["Action","Adventure","Comedy","Sci-Fi"],"download_count":176923,"like_count":341,"description_intro":"Marty
        McFly, a typical American teenager of the Eighties, is accidentally sent back
        to 1955 in a plutonium-powered DeLorean \"time machine\" invented by a slightly
        mad scientist. During his often hysterical, always amazing trip back in time,
        Marty must make certain his teenage parents-to-be meet and fall in love -
        so he can get back to the future.","description_full":"Marty McFly, a typical
        American teenager of the Eighties, is accidentally sent back to 1955 in a
        plutonium-powered DeLorean \"time machine\" invented by a slightly mad scientist.
        During his often hysterical, always amazing trip back in time, Marty must
        make certain his teenage parents-to-be meet and fall in love - so he can get
        back to the future.","yt_trailer_code":"qvsgGtivCgs","language":"English","mpa_rating":"PG","background_image":"https:\/\/yts.ag\/assets\/images\/movies\/Back_to_the_Future_1985\/background.jpg","background_image_original":"https:\/\/yts.ag\/assets\/images\/movies\/Back_to_the_Future_1985\/background.jpg","small_cover_image":"https:\/\/yts.ag\/assets\/images\/movies\/Back_to_the_Future_1985\/small-cover.jpg","medium_cover_image":"https:\/\/yts.ag\/assets\/images\/movies\/Back_to_the_Future_1985\/medium-cover.jpg","large_cover_image":"https:\/\/yts.ag\/assets\/images\/movies\/Back_to_the_Future_1985\/large-cover.jpg","medium_screenshot_image1":"https:\/\/yts.ag\/assets\/images\/movies\/Back_to_the_Future_1985\/medium-screenshot1.jpg","medium_screenshot_image2":"https:\/\/yts.ag\/assets\/images\/movies\/Back_to_the_Future_1985\/medium-screenshot2.jpg","medium_screenshot_image3":"https:\/\/yts.ag\/assets\/images\/movies\/Back_to_the_Future_1985\/medium-screenshot3.jpg","large_screenshot_image1":"https:\/\/yts.ag\/assets\/images\/movies\/Back_to_the_Future_1985\/large-screenshot1.jpg","large_screenshot_image2":"https:\/\/yts.ag\/assets\/images\/movies\/Back_to_the_Future_1985\/large-screenshot2.jpg","large_screenshot_image3":"https:\/\/yts.ag\/assets\/images\/movies\/Back_to_the_Future_1985\/large-screenshot3.jpg","cast":[{"name":"Lea
        Thompson","character_name":"Lorraine Baines","url_small_image":"https:\/\/yts.ag\/assets\/images\/actors\/thumb\/nm0000670.jpg","imdb_code":"0000670"},{"name":"Michael
        J. Fox","character_name":"Marty McFly","url_small_image":"https:\/\/yts.ag\/assets\/images\/actors\/thumb\/nm0000150.jpg","imdb_code":"0000150"},{"name":"Crispin
        Glover","character_name":"George McFly","url_small_image":"https:\/\/yts.ag\/assets\/images\/actors\/thumb\/nm0000417.jpg","imdb_code":"0000417"},{"name":"Christopher
        Lloyd","character_name":"Dr. Emmett Brown","url_small_image":"https:\/\/yts.ag\/assets\/images\/actors\/thumb\/nm0000502.jpg","imdb_code":"0000502"}],"torrents":[{"url":"https:\/\/yts.ag\/torrent\/download\/0CE7772B55BEF2DA98C49AA1DF608DEBBB20670F.torrent","hash":"0CE7772B55BEF2DA98C49AA1DF608DEBBB20670F","quality":"720p","seeds":194,"peers":16,"size":"699.65
        MB","size_bytes":733636198,"date_uploaded":"2015-10-31 21:41:46","date_uploaded_unix":1446342106},{"url":"https:\/\/yts.ag\/torrent\/download\/FB94D1F636CF921A7CD37BA2FFBB3C7FFD680113.torrent","hash":"FB94D1F636CF921A7CD37BA2FFBB3C7FFD680113","quality":"1080p","seeds":21,"peers":2,"size":"1.49
        GB","size_bytes":1599875318,"date_uploaded":"2015-10-31 21:41:48","date_uploaded_unix":1446342108}],"date_uploaded":"2015-10-31
        21:41:46","date_uploaded_unix":1446342106}},"@meta":{"server_time":1468853208,"server_timezone":"EST5EDT","api_version":2,"execution_time":"0
        ms"}}'
  recorded_at: Mon, 18 Jul 2016 14:46:48 GMT
recorded_with: VCR 3.0.3
