---
http_interactions:
- request:
    method: post
    uri: http://yts.ag/api/v2/user_reset_password
    body:
      encoding: UTF-8
      string: application_key=<APPLICATION_KEY>&reset_code=<PASSWORD_RESET_CODE>&new_password=<PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - DE
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"User password was successfully changed","data":{"username":"<USERNAME>","email":"<EMAIL>","user_key":"<USER_KEY>"},"@meta":{"server_time":1442724585,"server_timezone":"Pacific\/Auckland","api_version":2,"execution_time":"9.72
        ms"}}'
  recorded_at: Sun, 20 Sep 2015 04:49:45 GMT
recorded_with: VCR 2.9.3
