---
http_interactions:
- request:
    method: get
    uri: http://yts.to/api/user?id=16
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"UserID":"16","UserName":"YIFY","JoinDated":"2011-06-24 00:22:25","JoinDatedEpoch":1308831745,"LastSeenDate":"2014-10-19
        23:39:22","LastSeenDateEpoch":1413715162,"TorrentsDownloadedCount":66,"MoviesRequestedCount":2,"CommentCount":300,"ChatTimeSeconds":"1444664","Avatar":"http:\/\/static.yts.to\/avatar\/161392094101.png","About":"Hey,
        I am YIFY.\r<br \/>\r<br \/>Been involved in the torrenting community for
        about 3 years now.\r<br \/>\r<br \/>All credit has to go to our team here,
        and the rest of our users, making this community what it is today.\r<br \/>\r<br
        \/>for more information about us, please check out this about page:\r<br \/>\r<br
        \/>http:\/\/yify-torrents.com\/about","UserRole":"Admin"}'
  recorded_at: Sun, 19 Oct 2014 21:52:04 GMT
recorded_with: VCR 2.9.3
