---
http_interactions:
- request:
    method: get
    uri: http://yts.ag/api/v2/movie_suggestions?movie_id=353
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - CA
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"movie_suggestions_count":4,"movie_suggestions":[{"id":18,"url":"http:\/\/yts.ag\/movie\/the-insider-1999","imdb_code":"tt0140352","title":"The
        Insider","title_long":"The Insider (1999)","slug":"the-insider-1999","year":1999,"rating":7.9,"runtime":157,"genres":["Biography","Drama"],"language":"English","mpa_rating":"R","small_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/The_Insider_1999\/small-cover.jpg","medium_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/The_Insider_1999\/medium-cover.jpg","state":"ok","torrents":[{"url":"http:\/\/yts.ag\/torrent\/download\/B5D813ED4D8BAE8E8EE49A30C2C5616506408016.torrent","hash":"B5D813ED4D8BAE8E8EE49A30C2C5616506408016","quality":"720p","seeds":119,"peers":10,"size":"649.25
        MB","size_bytes":680787968,"date_uploaded":"2011-08-05 02:00:30","date_uploaded_unix":1312466430}],"date_uploaded":"2011-08-05
        02:00:30","date_uploaded_unix":1312466430},{"id":190,"url":"http:\/\/yts.ag\/movie\/remember-the-titans-2000","imdb_code":"tt0210945","title":"Remember
        the Titans","title_long":"Remember the Titans (2000)","slug":"remember-the-titans-2000","year":2000,"rating":7.8,"runtime":120,"genres":["Biography","Drama"],"language":"English","mpa_rating":"PG","small_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/Remember_the_Titans_2000\/sma[...]
