---
http_interactions:
- request:
    method: post
    uri: http://yts.to/api/v2/delete_comment
    body:
      encoding: UTF-8
      string: application_key=<APPLICATION_KEY>&user_key=<USER_KEY>&comment_id=379208
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - CA
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Comment has been successfully deleted","data":{"comment_id":379208,"user_id":1247782},"@meta":{"server_time":1442785041,"server_timezone":"Pacific\/Auckland","api_version":2,"execution_time":"6.67
        ms"}}'
  recorded_at: Sun, 20 Sep 2015 21:37:21 GMT
recorded_with: VCR 2.9.3
