---
http_interactions:
- request:
    method: get
    uri: http://yts.ag/api/v2/movie_comments?movie_id=353
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - NL
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"comment_count":48,"comments":[{"comment_id":321422,"user_id":416945,"username":"PrinceOfJessore","user_profile_url":"http:\/\/yts.ag\/user\/princeofjessore","small_user_avatar_image":"http:\/\/s.ynet.io\/assets\/images\/users\/thumb\/4169451441802650.png","medium_user_avatar_image":"http:\/\/s.ynet.io\/assets\/images\/users\/4169451441802650.png","user_group":"user","like_count":2,"comment_text":"thank
        you","date_added":"2015-03-14 18:16:42","date_added_unix":1426310202},{"comment_id":15824,"user_id":193,"username":"ramashu","user_profile_url":"http:\/\/yts.ag\/user\/ramashu","small_user_avatar_image":"http:\/\/s.ynet.io\/assets\/images\/users\/thumb\/default_avatar.jpg","medium_user_avatar_image":"http:\/\/s.ynet.io\/assets\/images\/users\/default_avatar.jpg","user_group":"user","like_count":1,"comment_text":"Hey
        YIFY, Charlie Chaplin movies are not there currently on your upcoming lists...\nDid
        u cancel uploading of this last Charli[...]
