---
http_interactions:
- request:
    method: get
    uri: http://yts.ag/api/listimdb?imdb_id%5B%5D=tt0068646&imdb_id%5B%5D=tt0111161
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"MovieCount":4,"MovieList":[{"MovieID":"3088","State":"OK","MovieUrl":"http:\/\/yts.ag\/movie\/The_Godfather_1972","MovieTitle":"The
        Godfather (1972)","MovieTitleClean":"The Godfather","MovieYear":"1972","AgeRating":"R","DateUploaded":"2013-03-04
        20:51:16","DateUploadedEpoch":1362383476,"Quality":"720p","CoverImage":"http:\/\/static.yts.ag\/attachments\/the_godfather_(1972)\/the_godfather_1_720_med.jpg","ImdbCode":"tt0068646","ImdbLink":"http:\/\/www.imdb.com\/title\/tt0068646\/","Size":"1.20
        GB","SizeByte":"1288490189","MovieRating":"9.2","Genre":"Crime","Uploader":"Bokutox","UploaderUID":"19020","Downloaded":"133228","TorrentSeeds":"111","TorrentPeers":"35","TorrentUrl":"http:\/\/yts.ag\/download\/start\/C168B84FC2B8CF062B67E4168E35C98F10BC7C74.torrent","TorrentHash":"c168b84fc2b8cf062b67e4168e35c98f10bc7c74","TorrentMagnetUrl":"magnet:?xt=urn:btih:c168b84fc2b8cf062b67e4168e35c98f10bc7c74&dn=The+Godfather&tr=udp:\/\/open.demonii.com:1337\/announce&tr=http:\/\/exodus.desync.com:6969\/announce&tr=udp:\/\/tracker.openbittorrent.com:80\/announce&tr=udp:\/\/exodus.desync.com:6969\/announce&tr=udp:\/\/tracker.yify-torrents.com\/announce"},{"MovieID":"3089","State":"OK","MovieUrl":"http:\/\/yts.ag\/movie\/The_Godfather_1972_1080p","MovieTitle":"The
        Godfather (1972) 1080p","MovieTitleClean":"The Godfather","MovieYear":[...]
