---
http_interactions:
- request:
    method: get
    uri: http://yts.ag/api/v2/list_movies?limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - NL
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"movie_count":4435,"limit":3,"page_number":1,"movies":[{"id":4467,"url":"http:\/\/yts.ag\/movie\/spy-2015","imdb_code":"tt3079380","title":"Spy","title_long":"Spy
        (2015)","slug":"spy-2015","year":2015,"rating":7.3,"runtime":119,"genres":["Action","Comedy"],"language":"English","mpa_rating":"R","background_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/spy_2015\/background.jpg","small_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/spy_2015\/small-cover.jpg","medium_cover_image":"http:\/\/s.ynet.io\/assets\/images\/movies\/spy_2015\/medium-cover.jpg","state":"ok","torrents":[{"url":"http:\/\/yts.ag\/torrent\/download\/DDF65502DD6719CFFFCD2461F348A6DC95F9D85E.torrent","hash":"DDF65502DD6719CFFFCD2461F348A6DC95F9D85E","quality":"720p","seeds":5801,"peers":10331,"size":"875.07
        MB","size_bytes":917582481,"date_uploaded":"2015-09-15 16:24:28","date_uploaded_unix":1442291068},{"url":"http:\/\/yts.ag\/torrent\/download\/93748BEF633891AED8A63868746B4ADFDF2C999C.torrent","hash":"93748BEF633891AED8A63868746B4ADFDF2C999C","quality":"1080p","seeds":4644,"peers":9106,"size":"1.95
        GB","size_bytes":2094281399,"date_uploaded":"2015-09-15 20:02:17","date_uploaded_unix":1442304137}],"date_uploaded":"2015-09-15
        16:24:15","date_uploaded_unix":1442291055},{"id":4466,"url":"http:\/\/yts.ag\/movie\/a-room-with-a-view-1985","imdb_code":"tt0091867","title":"[...]
