---
http_interactions:
- request:
    method: post
    uri: http://yts.to/api/v2/user_register
    body:
      encoding: UTF-8
      string: application_key=<APPLICATION_KEY>&username=<USERNAME>&password=<PASSWORD>&email=<EMAIL>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - LU
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"User was successfully registered","data":{"username":"<USERNAME>","email":"<EMAIL>","user_key":"<USER_KEY>"},"@meta":{"server_time":1442715101,"server_timezone":"Pacific\/Auckland","api_version":2,"execution_time":"7.31
        ms"}}'
  recorded_at: Sun, 20 Sep 2015 02:11:41 GMT
recorded_with: VCR 2.9.3
