---
http_interactions:
- request:
    method: get
    uri: http://yts.ag/api/v2/list_upcoming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Frontend:
      - DE
    body:
      encoding: UTF-8
      string: '{"status":"ok","status_message":"Query was successful","data":{"upcoming_movies_count":4,"upcoming_movies":[{"title":"Double
        Impact","year":1991,"imdb_code":"tt0101764","medium_cover_image":"http:\/\/s.ynet.io\/assets\/images\/upcoming\/143854865739.jpg","date_added":"2015-08-03
        08:50:57","date_added_unix":1438548657},{"title":"The Curse of Downers Grove","year":2015,"imdb_code":"tt1772261","medium_cover_image":"http:\/\/s.ynet.io\/assets\/images\/upcoming\/144096616831.jpg","date_added":"2015-08-31
        08:22:48","date_added_unix":1440966168},{"title":"First Snow 2","year":2008,"imdb_code":"tt1385342","medium_cover_image":"http:\/\/s.ynet.io\/assets\/images\/upcoming\/143855708836.jpg","date_added":"2015-08-03
        11:11:27","date_added_unix":1438557087},{"title":"Beyond Darkness","year":1990,"imdb_code":"tt0103802","medium_cover_image":"http:\/\/s.ynet.io\/assets\/images\/upcoming\/144180346692.jpg","date_added":"2015-09-10
        00:57:44","date_added_unix":1441803464}]},"@meta":{"server_time":1442259031,"server_timezone":"Pacific\/Auckland","api_version":2,"execution_time":"7.96
        ms"}}'
  recorded_at: Mon, 14 Sep 2015 19:30:31 GMT
recorded_with: VCR 2.9.3
